
body {
}

.fib {
    display: inline-block;
    padding: 15px;
}

.fib-left {
    float: left;
    display: inline-block;
    margin-right: 4px;
}

.fib-right {
    float: right;
    display: inline-block;
    margin-left: 4px;
}

.shadowed {
    text-shadow: 1px 1px 2px black;
    color:       white;
}

.stuff-box {
    font-family: 'helvetica neue', helvetica, sans-serif;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-align: center;
    padding: 3px 10px;
    margin: 10px;
    cursor: pointer;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
}

.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.red {
    border-color: rgba(50, 77, 137, 0.75);
    background: #2d56b3;
    box-shadow: 3px 6px 20px 2px rgba(0, 0, 0, 0.4)
}


.yellow {
    border-color: rgb(255,255,0);
    background:   rgb(180,180,60);
    box-shadow: 1px 1px 2px rgba(200,200,0,0.4);
}

.blue {
    border-color: rgb(0,0,255);
    background:   rgb(60,60,180);
    box-shadow: 1px 1px 2px rgba(0,0,200,0.4);
}

.green {
    border-color: rgb(0,255,0);
    background:   rgb(60,180,60);
    box-shadow: 1px 1px 2px rgba(0,200,0,0.4);
}

.white {
    border-color: rgb(255,255,255);
    background:   rgb(180,180,180);
    box-shadow: 1px 1px 2px rgba(200,200,0,0.4);
}

.black {
    border-color: rgb(0,0,0);
    background:   rgb(75,75,75);
    box-shadow: 1px 1px 2px rgba(200,200,0,0.4);
}
